@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
 
@media(min-width: 360px){
#bottom-container{
    align-content: center;
    color: #ffff;
    width: 100%;
    margin-top: 40px;
}

.body-container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 40px 10px 12px;
    margin: auto;
    padding-left: 6px;
    width: 368px;
    
}

.logo-img{
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
    margin-left: 18px; 
    margin-top: 35px;
    float: left;
    
}

.tittle-img{
    visibility: hidden;
}


.tipscode{
    font-size: 20px;
    gap: 2px;
}

.big-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 158px;
    margin-left: 180px;
    margin-bottom: 50px;
    
}

.small-list{
    padding: 14px;
    align-items: center;
    align-content: center;
   
}

.border-box{
    border: solid 1px #ffff;
    border-top: 80px;
    width: 300px;
    margin: auto;
    justify-content: center;
    text-align: center;   

}

.parag{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    font-size: 12px;     

}


.terms-list{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 40px;
    padding: 5px;
    
        
}

.footer-list{
    font-size: 12px;
}

.line{
    text-decoration: none;
}
}

@media(width >= 996px){

    #bottom-container{
        width: 100%;

    }


    .body-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 1024px;
        height: 340px;

    }
    
    .logo-img{
        margin-top: 10px;
        margin-left: auto;
        
    }


    .tittle-img{
        visibility: inherit;
        margin-top: 13px;
        width: 76px;
        height: 46px;
        float: left;
    }
    

    .big-list{
        width: 432px;
        margin-left: auto;
        
        
    }
    
    .border-box{
        width: 896px;
    }
    
    .terms-list{
        width: 628px;
        text-align: center;
        margin: auto;
        margin-top: 32px;
        justify-content: center;
    }

}