
#section-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/background-link-alisson.png') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Camada de opacidade */
}

.container {
    position: relative;
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #555;
    margin-bottom: 30px;
}

.link {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
    text-decoration: none;
    background-color: #0073ff;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #005bb5;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    font-size: 24px;
    color: #777;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0073ff;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
    }
}