.embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed-full {

    position: relative;
    width: 931px;
    padding-bottom: 39.25%;
}

.embed-minicurso {
  position: relative;
  width: 894px;
  padding-bottom: 51.25%;

}

.embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 49;
}

.embed-full iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 49;
}

.embed-minicurso iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 49;
}

.span-text {
  color: #FAFF00;
}

.bg-text {
  background-color: #191722
}

.cta-hero {
  background-color: #FAFF00;
  color: #0F0F0F;
}

@media (max-width: 600px){
  .embed-full {
    position: relative;
    width: 90%;
    padding-bottom: 56.25%;
    margin: auto;
  }
}


@media (max-width: 600px){
  .embed-minicurso {
    position: relative;
    width: 90%;
    padding-bottom: 56.25%;
    margin: auto;
  }
}



